input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app {
  margin: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

.brand_logo {
  height: 50px;
  width: 50px;
}

.brand_list {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
  flex-wrap: wrap;
}

.selected {
  background-color: black;
  color: white;
}

.pricing_card {
  border-color: black;
  border-radius: 20px;
  border: solid;
  padding: 5px;
  width: fit-content;
}
